@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Bitter-Regular";
  src: local("Bitter-Regular"),
    url("./fonts/Bitter-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Bitter-Bold";
  src: local("Bitter-Bold"), url("./fonts/Bitter-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Bitter";
  src: local("Bitter"), url("./fonts/Bitter-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Bitter";
  src: local("Bitter"), url("./fonts/Bitter-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"),
    url("./fonts/PlayfairDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"),
    url("./fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  appearance: textfield;
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

html {
  font-family: "Roboto", sans-serif;
  /* font-family: 'Playfair Display'; */
  /* font-family: 'Bitter'; */
  scroll-behavior: smooth;
  scroll-padding-top: 136px;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

section,
header {
  width: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.page__header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding-right: 20px;
}

.navigation {
  justify-content: flex-end;
}

.navigation.container {
  width: 100%;
}

.nav-menu {
  margin: 0;
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 56px;
}

.nav-menu__link {
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  position: relative;
}

.nav-menu__link::after {
  pointer-events: none;
  display: block;
  position: absolute;
  content: "";
  height: 100%;
  width: 110%;
  transform: translate(-5%, -30%);
}

.nav-menu__link:hover::after {
  border-bottom: 4px solid black;
  transition: all 0.3s;
  transform: translate(-5%, -70%);
}

section.hero {
  height: 630px;
  background: url("./img/hero-background.jpg") no-repeat center/cover;
}

section.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__wrapper {
  width: 690px;
  height: 360px;
  padding: 110px 1%;
  background-color: #ffffff;
  text-align: center;
}

.hero__title {
  margin: 0;
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 86px;
  line-height: 1.2;
  text-align: center;
}

.hero__description {
  margin-top: 14px;
  font-size: 20px;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.section-title--vertical {
  writing-mode: vertical-lr;
  transform-origin: center center;
  transform: rotate(-180deg);
  margin: 0;
}

.biography {
  margin-top: 150px;
  height: 840px;
  display: flex;
  padding: 0 min(10%, 137px);
  position: relative;
}

.biography__header {
  width: 9.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
  margin-left: clamp(10px, 4%, 29px);
}

.biography__header > .section-title {
  align-self: flex-start;
}

.biography__image {
  order: -1;
  max-width: 50%;
  min-width: 250px;

  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  overflow: hidden;
}

.biography__photo {
  display: block;
  height: 100%;
  object-fit: cover;
}

.person {
  max-width: 40%;
  justify-content: start;
  display: flex;
  flex-direction: column;
  padding-top: 175px;
}

.person__name {
  font-family: "Playfair Display";
  font-size: 86px;
  font-weight: 500;
  line-height: 1.337;
}

.person__role {
  margin-top: 36px;
}

.person__role,
.person__skill-list {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

.person__skill-list {
  padding: 0;
  margin-top: 0;
  list-style-type: none;
}

.person__skill-item {
  display: inline-block;
}

.person__skill-item:not(:last-of-type)::after {
  margin: 2px;
  display: inline-block;
  content: "/";
}

.rectangle-divider {
  margin-top: 33px;
  width: 20px;
  height: 6px;
  background-color: #0d0d0d;
}

.person__quote {
  margin-left: 0;
  margin-top: 18px;
  font-family: "Bitter-Regular";
  font-size: 26px;
  font-weight: 400;
}

.designers-section .section-title {
  margin: 151px 0 0 140px;
}

/* 
Элемент галерея
Свойство overflow: scroll hidden добавляет скролл и скрывает содержимое,
которое выпадает за пределы области элемента.
*/
.gallery {
  margin-top: 0px;
  overflow-x: scroll;
  padding: 0 20px 10px;
}

/* 
Обёртка для карточек галереи - unordered list
Использую фактически для смещения горизонтального скролла,
для исключения наложения скроллбара на содержимое нижней
строки футера карточки

*/
.gallery__wrapper {
  margin: 30px 0 0 0;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  /* 
  Выравниваем все элементы по вертикали в конец контейнера - вниз,
  чтобы при изменении размеров изображение росло вверх и не смещало
  подписи
  */
  align-items: flex-end;
  list-style-type: none;
  padding: 0;
}

.gallery__card {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.gallery .designer {
  font-size: 16px;
}

.gallery .designer__footer {
  margin-top: 24px;
  width: 335px;
  align-self: flex-end;
}

.gallery .designer__footer p {
  margin: 0;
}

.gallery__image-wrapper {
  height: 440px;
  width: 335px;
  overflow: hidden;
  transition: all 0.5s;
  transform-origin: bottom;
}

.strong-point__card-image,
.designer__image {
  width: 100%;
}

.gallery__card--active {
  width: 572px;
}

.gallery--animated .gallery__card--active .gallery__image-wrapper {
  height: 538px;
  width: 572px;
}
.gallery--animated
  .gallery__card:not(.gallery__card--active):hover
  .gallery__image-wrapper {
  transform: scale(1.07);
}

.gallery--animated .gallery__card--active .strong-point__card-image,
.gallery--animated .gallery__card:hover .strong-point__card-image {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.designer__name {
  text-transform: uppercase;
  font-weight: 900;
}

.designer__from {
  font-weight: 400;
}

.designer__from strong {
  font-weight: bold;
}

.testimonials {
  margin-top: 150px;
  height: 760px;
  padding-left: 139px;
  display: grid;
  grid-template-columns: 118px minmax(50px, 32%) 10% auto;
}

.testimonials-header {
  width: 28px;
  margin-left: 24px;
}

.testimonials-header > h2 {
  max-width: none;
  width: 28px;
}

.testimonials__links-list {
  margin: 0;
  width: 118px;
  list-style: none;
  order: -1;
  padding: 20px 20px 30px 49px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.testimonials__link {
  text-decoration: none;
  color: black;

  display: flex;
}

.testimonials__link:hover {
  text-decoration: underline;
}

.testimonials__link-header,
.testimonials__link-url {
  height: 190px;
  margin: 0;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
}

.testimonials__link-header {
  font-weight: bold;
}

.overview-image {
  background: url("./img/testimonials-section-image.jpg") right/cover no-repeat;
  height: 100%;
  width: 100%;
  justify-self: start;
  order: -1;
  max-height: 100%;
}

.testimonials-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 451px;
}

.testimonials-content__wrapper {
  width: 221px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.testimonials-content .text-content {
  font-size: 32px;
  line-height: 1.2;
  font-family: Bitter;
  margin: 0;
}

.strong-points-section {
  height: calc(613px + 139px);
  padding-bottom: 139px;
  margin-top: 150px;
}

.strong-points-section .section-title {
  margin: 0;
  margin-left: 258px;
}

.strong-points-section .gallery__image-wrapper {
  height: auto;
}

.strong-point {
  height: 554px;
}

.gallery .strengths {
  justify-content: start;
  width: 450px;
}

.section-content-title {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 86px;
  margin: 0 auto;
  line-height: 1;
}

.strengths__list {
  margin-top: 28px;
  margin-left: 117px;
  padding: 0;
  list-style-type: none;
}
.strengths__item {
  font-family: "Bitter";
  font-size: 34px;
  height: 42px;
}

@supports (display: grid) {
  .strong-points-section .gallery__wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 335px) 450px repeat(2, 335px);
  }
}

.page-footer {
  height: 139px;
  display: none;
}

@media screen and (max-width: 1024px) {
  .testimonials {
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  html {
    scroll-padding-top: 20px;
  }

  .page__header {
    display: none;
  }

  .testimonials {
    grid-template-columns: 118px 10% auto;
  }

  .testimonials .overview-image {
    display: none;
  }

  .strong-points-section {
    padding-bottom: 162px;
  }

  .page-footer {
    display: block;
    position: fixed;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    margin-top: 80px;
    display: block;
    height: 82px;
    padding: 0 16px;
    border-top: 1px solid #000;
  }

  .page-footer .page-footer__navigation {
    display: flex;
    align-items: flex-end;
    width: 100%;
  }

  .page-footer__links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;

    display: flex;
    gap: 16px;
    justify-content: space-between;

    font-family: "Bitter";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
  }

  .page-footer .links__item {
    width: 92px;
    height: 82px;
    line-height: 82px;
    text-align: center;
  }

  .page-footer .links__link {
    text-decoration: none;
    color: #000;
  }
  .page-footer .links__link:hover {
    text-decoration: underline;
  }

  .page-footer .links__link:active {
    font-weight: 700;
  }
}

@media screen and (max-width: 600px) {
  /* Container width is auto on small screen */
  .container {
    min-width: 350px;
    max-width: none;
    margin: 0 auto;
  }

  section.hero {
    height: auto;
  }

  /* Change section beckground image and move it to bottom  */
  section.hero .container {
    width: 100%;
    background: url("./img/hero-background-mobile.jpg") no-repeat bottom
      center/cover;
    height: 764px;
  }

  .hero__wrapper {
    align-self: start;
    padding: 100px 32px;
    width: 100%;
  }

  /* Change font properties */
  .hero__title {
    font-weight: 400;
    font-size: 70px;
  }

  .hero__description {
    font-size: 18px;
  }

  .biography {
    margin: 80px 0 0;
    height: auto;
    flex-direction: column;
    padding: 0;
  }

  .biography__header {
    order: -1;
    position: absolute;
    right: 16px;

    width: auto;
  }

  .biography__image {
    order: 1;
    max-width: 100%;
    height: 450px;
    min-width: auto;
    overflow: hidden;
  }
  .biography__image > img {
    object-fit: cover;
    width: 100%;
  }

  .person {
    max-width: none;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .person__name {
    font-size: 64px;
    font-weight: 400;
    margin: 41px auto 41px 18px;
  }

  .person__name::before {
    content: "- ";
    font-size: 64px;
    font-weight: 400;
  }
  .person__name br {
    display: none;
  }

  .person__role {
    margin-top: 0;
  }

  .person__role,
  .person__skill-list {
    width: 308px;
    order: 2;
    font-size: 18px;
    font-weight: 500;
    padding: 0 0 0 18px;
  }

  .person__skill-list {
    order: 1;
    margin-top: 0;
    list-style-type: none;
  }

  .person__skill-item {
    display: block;
  }

  .person__skill-item:not(:last-of-type)::after {
    content: "";
  }

  .person__skill-item::before {
    content: "- ";
  }

  .rectangle-divider {
    display: none;
  }

  .person__quote {
    margin: 57px 15px 0;
    font-size: 30px;
    font-weight: 300;
  }

  .designers-section .section-title {
    margin: 80px auto 0 16px;
    text-align-last: left;
  }

  .gallery__wrapper {
    gap: 16px;
    align-items: baseline;
  }

  .designers-section .gallery {
    padding: 0 16px 10px;
  }

  /* ГАЛЕРЕЯ НЕ ВЫСТРАИВАЕТСЯ ПРАВИЛЬНО - ИЗОБРАЖЕНИЯ СМЕЩЕНЫ  */
  .designers-section .gallery__card,
  .designers-section .gallery__card--active {
    /* ЗАМЕНИТЬ НА 310PX */
    width: 310px;
    height: 440px;
    overflow: hidden;
  }

  .gallery--animated .gallery__card--active .gallery__image-wrapper,
  .gallery--animated .gallery__card:hover .gallery__image-wrapper {
    height: 435px;
    width: 100%;
    transition: none;
  }

  .gallery--animated .gallery__card--active .strong-point__card-image,
  .gallery--animated .gallery__card:hover .strong-point__card-image {
    position: static;
    transform: none;
    width: 310px;
  }

  .testimonials {
    margin-top: 80px;
    height: auto;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;

    padding: 0 16px;
  }

  .testimonials .testimonials-header {
    order: -1;
    height: auto;
    width: auto;
  }
  .testimonials .testimonials-header h2 {
    width: auto;
    text-align: right;
    margin-right: 16px;
  }

  .testimonials .overview-image {
    display: none;
  }

  .testimonials .testimonials-content {
    justify-self: center;
  }

  .testimonials .testimonials-content__wrapper {
    margin-top: 28px;
    width: 100%;
    font-size: 30px;
    font-weight: 300;
  }

  .testimonials .testimonials-content__wrapper br {
    display: none;
  }

  .testimonials .testimonials-image {
    overflow: hidden;
  }

  .testimonials .testimonials-image img {
    margin-top: 24px;
    width: 100%;
    height: 330px;
    object-fit: cover;
  }

  .testimonials__links-list {
    margin-top: 28px;
    padding: 0;
    gap: 20px;
    order: 10;
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .testimonials__links-item {
    width: auto;
  }

  .testimonials__link {
    width: 196px;
    flex-direction: column;
  }

  .testimonials__link-header,
  .testimonials__link-url {
    writing-mode: horizontal-tb;
    transform: none;
    width: auto;
    height: auto;
  }

  .strong-points-section {
    margin-top: 80px;
    height: auto;
  }
  .strong-points-section .section-title {
    margin: 80px auto 0 16px;
    text-align-last: left;
  }

  .strong-points-section .gallery {
    padding: 0 16px 0;
  }

  .strong-points-section .gallery .gallery__wrapper {
    align-items: start;
    column-gap: 16px;
  }

  .gallery .strengths {
    order: -1;
  }

  .strong-points-section .gallery__image-wrapper,
  .strong-point,
  .strong-point__card-image {
    height: 450px;
  }

  .strong-point {
    width: auto;
  }

  .section-content-title {
    font-weight: 400;
    font-size: 46px;
    margin: 0;
  }

  .strengths__list {
    margin: 24px 0 0 16px;
    padding: 0;
    list-style-type: none;
  }

  .strengths__item {
    font-family: "Bitter";
    font-size: 24px;
    margin-top: 8px;
    height: 29px;
  }

  @supports (display: grid) {
    .strong-points-section .gallery__wrapper {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: 200px repeat(4, 310px);
    }
  }

  .section-title {
    text-align: right;

    font-weight: 700;
    font-size: 18px;
    color: #000000;
  }

  .section-title--vertical {
    writing-mode: horizontal-tb;
    transform-origin: center center;
    transform: none;
    margin: 0;
  }
}
